<h1>Edit Supplier</h1>


<form action="/Appointment/email_And_Comment/1" method="POST">
	Driver Id: <input type="number" name="driver_id" value="{{driver_id}}">
   Agent Id: <input type="number" name="agent_id" value="{{agent_id}}">
	Date: <input type="date" name="date" value="{{date}}">	
	Request: <textarea type="text" name="comment" value="{{comment}}"></textarea><br />
	Rating: <textarea type="text" name="rating" value="{{rating}}"></textarea><br />
	Driver E-mail: <input type="text" name="email" value="{{email}}">
	<input type="submit">
</form>



  